<div class="list-comments__string">
	<div class="list-comments__about">
		{{ Comment.user.username }}
		{{ Comment.date('d/m/Y') }}
	</div>
	<div class="list-comments__string__content">{{ Comment.content}}</div>
	<hr align=center width=100% color="#ffffff">
</div>
